@page "/fetchdatamvvm"
@using  BlazorMVVMSample.Client.ViewModels
@inject IFetchDataViewModel fetchDataViewModel


<h1>Weather forecast</h1> 

<button class="btn btn-primary" 
        onclick=@fetchDataViewModel.ToggleTemperatureScale>Display @fetchDataViewModel.DisplayOtherTemperatureScaleLong</button>


<button class="btn btn-primary"
        onclick=@(async () => await fetchDataViewModel.TogglePremiumMembership())>@fetchDataViewModel.DisplayPremiumToggleMessage</button>

<p>This component demonstrates fetching data from the server.</p>

@if (fetchDataViewModel.BasicForecastViewModel.WeatherForecasts == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <BasicForecast ViewModel="@fetchDataViewModel.BasicForecastViewModel" />
}


@functions {
    protected override async Task OnInitAsync()
    {
        await fetchDataViewModel.RetrieveForecastsAsync();
    }
}