    <div>
        @foreach (string choice in choices)
        {
            if (choice == currentChoice)
            {
                <div class="radio" onclick=@(()=>MakeChoice.InvokeAsync(choice))>
                    <label><input type="radio" name="@radioName" checked>@choice</label>
                </div>
            }
            else
            {
                <div class="radio" onclick=@(()=>MakeChoice.InvokeAsync(choice))>
                    <label><input type="radio" name="@radioName">@choice</label>
                </div>
            }
        }
    </div>

@functions{

    [Parameter]
    string radioName { get; set; }

    [Parameter]
    List<string> choices { get; set; }

    [Parameter]
    string currentChoice { get; set; }

    [Parameter]
    EventCallback<string> MakeChoice { get; set; }
}