    <div>
    @foreach (string choice in choices)
    {
        if (choice == currentChoice)
        {
            <div class="radio" @onclick=@(()=>MakeChoice.InvokeAsync(choice))>
                <label><input type="radio" name="@radioName" checked>@choice</label>
            </div>
        }
        else
        {
            <div class="radio" @onclick=@(()=>MakeChoice.InvokeAsync(choice))>
                <label><input type="radio" name="@radioName">@choice</label>
            </div>
        }
    }
</div>

@code{

    [Parameter]
    public string radioName { get; set; }

    [Parameter]
    public List<string> choices { get; set; }

    [Parameter]
    public string currentChoice { get; set; }

    [Parameter]
    public EventCallback<string> MakeChoice { get; set; }
}