@page "/shoppingcart"
@inherits ShoppingCartBase

<h1>Shopping Cart</h1>

<BlazorMVVM.Client.Components.InventoryCatalog ViewModel="@ViewModel.InventoryCatalogViewModel" />

<BlazorMVVM.Client.Components.CartContents ViewModel="@ViewModel" />
