@page "/shoppingcart"
@using BlazorMVVM.Client.Components
@inherits ShoppingCartBase

<h1>Shopping Cart</h1>

<InventoryCatalog ViewModel="@ViewModel.InventoryCatalogViewModel" AddSelectedItemToCart="@ViewModel.CheckInventoryAndAddItemToCart"  />

<CartContents ViewModel="@ViewModel" />
